@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* BACKGROUND COLOR */
  --color-dark-gray: #302c34;

  /* CUSTOM COLOR PALLETE */
  /* PRIMARY */
  --color-primary-50: oklch(94.66% 0.0157 177.07);
  --color-primary-300: oklch(71.2% 0.0826 167.75);
  --color-primary-500: oklch(60.34% 0.0891 163.19);
  --color-primary-700: oklch(51.53% 0.0747 161.61);
  --color-primary-900: oklch(37.44% 0.0504 156.85);

  /* SECONDARY */
  --color-secondary-50: oklch(96.14% 0.0249 81.13);
  --color-secondary-300: oklch(78.8% 0.1302 78.5);
  --color-secondary-500: oklch(71.65% 0.1533 69.21);
  --color-secondary-700: oklch(65.85% 0.1559 58.16);
  --color-secondary-900: oklch(60.93% 0.161171 49.9576);
}

/* CUSTOM FONT STYLES */
.display1,
.display2,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-campton);
}

p,
blockquote {
  font-family: var(--font-schibsted);
}

.subtle {
  font-family: var(--font-roboto);
}

.display1 {
  @apply text-7xl font-bold;
}
.display2 {
  @apply text-6xl font-bold;
}
h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-medium;
}
h4 {
  @apply text-xl font-normal;
}
p {
  @apply text-base font-normal;
}
blockquote {
  @apply text-base italic;
}
.inline-code {
  @apply rounded bg-white/10 px-1 py-0.5 text-sm font-bold;
}
.lead {
  @apply text-xl font-semibold;
}
.large {
  @apply text-lg font-semibold;
}
.small {
  @apply text-sm font-medium;
}
.subtle {
  @apply text-sm font-extralight;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
