@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* BACKGROUND COLOR */
  --color-dark-gray: #302c34;

  /* CUSTOM COLOR PALLETE */
  /* NEUTRAL */
  --color-neutral-50: oklch(98.51% 0 0);
  --color-neutral-100: oklch(97.02% 0 0);
  --color-neutral-200: oklch(92.19% 0 0);
  --color-neutral-300: oklch(86.99% 0 0);
  --color-neutral-400: oklch(71.55% 0 0);
  --color-neutral-500: oklch(55.55% 0 0);
  --color-neutral-600: oklch(43.86% 0 0);
  --color-neutral-700: oklch(37.15% 0 0);
  --color-neutral-800: oklch(26.86% 0 0);
  --color-neutral-900: oklch(20.46% 0 0); 

  /* PRIMARY */
  --color-primary-50: oklch(95% 0.05 150);
  --color-primary-100: oklch(85% 0.12 150);
  --color-primary-200: oklch(75% 0.18 150);
  --color-primary-300: oklch(65% 0.23 150);
  --color-primary-400: oklch(55% 0.28 150);
  --color-primary-500: oklch(45% 0.30 150);

  /* SECONDARY */
  --color-secondary-50: oklch(95% 0.07 80);
  --color-secondary-100: oklch(85% 0.15 80);
  --color-secondary-200: oklch(75% 0.23 80);
  --color-secondary-300: oklch(65% 0.28 80);
  --color-secondary-400: oklch(55% 0.32 80);
  --color-secondary-500: oklch(45% 0.35 80);
}

/* CUSTOM FONT STYLES */
.display1, .display2, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-campton);
}

p, blockquote {
  font-family: var(--font-schibsted);
}

.subtle {
  font-family: var(--font-roboto);
}

.display1 { @apply font-bold text-7xl; }
.display2 { @apply font-bold text-6xl; }
h1 { @apply font-bold text-5xl; }
h2 { @apply font-semibold text-3xl; }
h3 { @apply font-medium text-2xl; }
h4 { @apply font-normal text-xl; }
p { @apply font-normal text-base; }
blockquote { @apply italic text-base; }
.inline-code { @apply font-bold text-sm bg-white/10 px-1 py-0.5 rounded; }
.lead { @apply font-semibold text-xl; }
.large { @apply font-semibold text-lg}
.small { @apply font-medium text-sm}
.subtle { @apply font-extralight text-sm; }

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
